body {
  background-color: cornsilk;
}
#header {
  font-size: 45px;
  color: black;
}
.entry {
  overflow: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 10;
  font-size: 18px;
  border-top: 2px solid black;
  background-color: burlywood;
  color: blanchedalmond;
}
